<footer class="footer">

        <div class="container">
            
            <section class="menu">
                <h3>Menu</h3>
                <hr>
                <ul class="lista">

                    <li>Inicio</li>
                    <li>login</li>
                    <li>Sign up</li>
                    <li>Productos</li>
                    <li>Contactos</li>
                    <li>Quienes Somos</li>
                </ul>
            </section>

            <h3 class="logo">Molino</h3>

            <section class="sucursales">
                <h3>Sucursales</h3>
                <hr>
                <ul class="lista">
                    <li>Quito</li>
                    <li>Cuenca</li>
                    <li>Guayaquil</li>
                    <li>Ibarra</li>
                    <li>Ambato</li>
                    <li>Santo Domingo</li>
                </ul>
            </section>
        </div>


        <section class="redes">
            <i class="iconRedes icon-twitter"></i>
            <i class="iconRedes icon-github"></i>
            <i class="iconRedes icon-facebook-square"></i>
            <i class="iconRedes icon-facebook-places"></i>
            <i class="iconRedes icon-google-plus"></i>
        </section>

        <section class="copyright">
            <p>All Right Reserve</p>
            <p>CopyRight &copy; 2019-2019</p>
        </section>
    </footer>