<header id="header" class="header"> 
<div class="head-content">
    <h3 class="title">Postres Hechos con Amor</h3>   
    <hr>
    <p class="descripcion">Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Qui beatae optio, eveniet accusantium 
        eius numquam voluptatibus sequi perspiciatis 
        temporibus exercitationem.</p>
    </div>
</header>