<div class="container">
    <div id="navContainer" class="nav-container">
        <p id="logo" class="logoM">Molino</p>
        <i id="bar" class="fa fa-bars icono bar"></i>
    </div>
</div>


<nav class="modal">
    <div class="modal-content">
         <p id="logo" class="logo">Menu</p><hr>
         <i id="closeNav" class="fa fa-times"></i>
         <ul class="menu">
            <li class="menu-item"><a href="/">Inicio</a></li>
            <li class="menu-item"><a href="/login">Login</a></li>
            <li class="menu-item"><a href="#">Productos</a> </li>
            <li class="menu-item"><a href="#">Contactos</a></li>
            <li class="menu-item"><a href="/quienes-somos">Quienes Somos</a>
            </li>
        </ul>
    </div>
</nav>