<!DOCTYPE html>
<html lang="es">

    {{>metadatos}}

<body>

   {{>navegacion}}
   {{>header}}
  
    <main class="main">
        
        <!-- seccion 1 -->

        <article class="seccion2">
            <section class="estadistica">
                <h2>Estadisticas Precisas</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Natus suscipit similique omnis in sequi quos esse dolorem at.
                    Non debitis deserunt maiores ex. Officia, ipsum similique. 
                    Debitis necessitatibus distinctio temporibus nesciunt quae 
                    llum delectus eaque nam cum iure amet laboriosam minima, ducimus, 
                    molestiae facilis omnis! Excepturi, possimus nam impedit, officia 
                    corporis nesciunt amet aliquid ea repellendus consequatur eos architecto 
                    fugit doloremque aperiam consequuntur veniam officiis, libero corrupti 
                    eligendi hic. Quae amet, blanditiis a tempora totam possimus sequi ea. Expedita
                     minima quos fugit cupiditate? Explicabo voluptatibus modi dolorum sunt totam
                      quo, libero ea praesentium voluptatum non ad, voluptates minus, quasi numquam.</p>
            </section>

           
            <!-- seccion 2 -->

            <section class="Feature">
                <div class="tiempo">
                    <span class="iconFeature"><span class="fa fa-clock iconF"></span></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus tempore laboriosam expedita soluta similique fugit iure debitis quia iste, vero impedit aspernatur perferendis facere a molestiae ut est, labore dolorem incidunt fuga nostrum corporis molestias. Ducimus earum suscipit illo officia iusto incidunt, possimus, cupiditate at natus, facere vitae unde!</p>
                </div>
                <div class="tiempo">
                    <span class="iconFeature"><span class="fa fa-bolt iconF"></span></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus tempore laboriosam expedita soluta similique fugit iure debitis quia iste, vero impedit aspernatur perferendis facere a molestiae ut est, labore dolorem incidunt fuga nostrum corporis molestias. Ducimus earum suscipit illo officia iusto incidunt, possimus, cupiditate at natus, facere vitae unde!</p>
                </div>
                <div class="tiempo">
                    <span class="iconFeature"><span class="fa fa-cloud iconF"></span></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus tempore laboriosam expedita soluta similique fugit iure debitis quia iste, vero impedit aspernatur perferendis facere a molestiae ut est, labore dolorem incidunt fuga nostrum corporis molestias. Ducimus earum suscipit illo officia iusto incidunt, possimus, cupiditate at natus, facere vitae unde!</p>
                </div>
            </section>
        </article>

        <article class="pastel">
                <section class="lema">
                   <section class="title">Arte del pastel</section>
                   <section class="lemaDes">Nosotros creamos deliciosas memorias</section>
                   <section class="descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et neque amet incidunt hic quae fugiat laborum distinctio. Deleniti quidem ullam doloremque consequuntur voluptas laborum. Iste odio sint sapiente eligendi! Dolore possimus expedita exercitationem distinctio dolorum sequi ratione at hic omnis veniam. Dolores hic vero, atque sequi similique at placeat qui?</section>
                   <p class="descChef">Chef Cook</p>
                   <div class="Chef">
                        <img src="./img/chef1.jpg" class="imgChef" alt="">
                    </div>
                    <p class="opinionChef">"Unicas creaciones para unicas ocaciones"</p>
                </section>
                <section class="img"> 
                    <section class="img1">
                    </section>
                </section>
            </article>

        <!-- seccion 3 -->

        <article class="seccion3">

            <section class="postres">
                <div class="card"><img class="img" src="./img/postres/postre2.jpg" alt=""></div>
                <div class="info">
                    <h3>Perfect Pankakes</h3>
                    <p class="descripcion">Season Favorite</p>
                    <p class="text">Lorem, ipsum dolor sit amet consectetur 
                        adipisicing elit. Quia excepturi laudantium qui 
                        blanditiis perferendis, id dolore ea doloribus 
                        sapiente mollitia, commodi officia quod. Cumque 
                        voluptate doloremque rem, ex voluptatem doloribus, 
                        ab veniam at in dolore architecto</p>

                    <div class="slider">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                        
                    </div>
                </div>
            </section>
        </article>

        <!-- seccion 4 -->

        <article class="seccion4">
            <h3>Ensaladas</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Voluptatum tempora 
                modi dolore perspiciatis voluptas cupiditate 
                cum! Mollitia sapiente blanditiis natus 
                nesciunt voluptatum? Facere, deserunt! 
                Molestiae laudantium voluptas pariatur 
                recusandae accusantium.

                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Vel similique numquam 
                a minus praesentium reprehenderit itaque 
                est odit nostrum, laudantium, nisi laborum
                maiores dolore soluta. Architecto cupiditate
                quasi vero quibusdam facere voluptate 
                doloremque, amet nemo laborum blanditiis.
                Praesentium nemo corporis, iusto atque,
                mollitia tempora nobis, porro voluptatum
                odio laudantium non.
            </p>
        </article>

        <article class="seccion5">

            <section class="seccion-container">
                <div class="card">
                    <img src="./img/ensaladas/ensalada-cesar.jpg" alt="">
                </div>
                <div class="container">
                    <h3 class="descripcion">Ensalada Cesar</h3>
                    <hr>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Repellat, sapiente voluptatibus. 
                        Ex accusantium, laboriosam provident repellendus 
                        rerum ea doloremque nobis accusamus, officia voluptatibus 
                        vero nisi est possimus totam iste itaque consequatur, 
                        illum dolores. Doloribus minus culpa voluptas accusantium 
                        harum tenetur pariatur dolores doloremque cum atque 
                        quibusdam obcaecati reiciendis, qui voluptate!</p>
                </div>
                <div class="enlace">
                    <a href="#">
                        <div class="right"></div>
                        <span>Aprender Mas</span>
                    </a>
                </div>
            </section>

            
            <section class="seccion-container">
                <div class="card">
                    <img src="./img/ensaladas/ensalada-tofu.jpg" alt="">
                </div>
                <div class="container">
                    <h3 class="descripcion">Ensalada Tofu</h3>
                    <hr>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Repellat, sapiente voluptatibus. 
                        Ex accusantium, laboriosam provident repellendus 
                        rerum ea doloremque nobis accusamus, officia voluptatibus 
                        vero nisi est possimus totam iste itaque consequatur, 
                        illum dolores. Doloribus minus culpa voluptas accusantium 
                        harum tenetur pariatur dolores doloremque cum </p>
                </div>

                <div class="enlace">
                    <a href="#">
                        <div class="right"></div>
                        <span>Aprender Mas</span>
                    </a>
                </div>
            </section>

            
            <section class="seccion-container">
                <div class="card">
                    <img src="./img/ensaladas/ensalada-pollo.jpg" alt="">
                </div>
                <div class="container">
                    <h3 class="descripcion">Ensalada de pollo</h3>
                    <hr>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Repellat, sapiente voluptatibus. 
                        Ex accusantium, laboriosam provident repellendus 
                        rerum ea doloremque nobis accusamus, officia voluptatibus 
                        vero nisi est possimus totam iste itaque consequatur, 
                        illum dolores. Doloribus minus culpa voluptas accusantium 
                        harum tenetur pariatur dolores doloremque cum atque 
                        quibusdam obcaecati reiciendis, qui voluptate!</p>
                </div>

                <div class="enlace">
                    <a href="#">
                        <div class="right"></div>
                        <span>Aprender Mas</span>
                    </a>
                </div>
            </section>
        </article>

    </main>

    {{>footer}}
   
   <script src="./js/index.js"></script>
</body>
</html>