<!DOCTYPE html>
<html lang="es">

    {{>metadatos}}

<body>
    <header class="headera">
        {{>navegacion}}
    </header>

    <div class="contenedor-tarjetas">
        <section class="section-tarjetas">
            <div class="fondo-tarjeta">
                <div class="contenedor mision">
                    <div class="chef-pan">
                        <img src="./img/chef1.jpg" alt="">
                    </div>
                    <div class="contenedor-texto mision">
                        <h1 class="title-mision">Misión</h1><hr>
                        <p class="info-p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Consectetur blanditiis ipsam, accusantium aspernatur iure velit
                            aut expedita maiores saepe est sapiente tempore dolorem labore.
                            Mollitia unde recusandae quas expedita ab veniam iusto pariatur? 
                        </p>
                    </div>
                </div>
            </div>
            <div class="fondo-tarjeta">
                <div class="contenedor vision">
                    <div class="contenedor-texto vision">
                        <h1 class="title-vision">Visión</h1><hr>
                        <p class="info-p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Hic odit magni ut dolore ipsa velit,
                            distinctio labore repudiandae cupiditate 
                            provident aperiam doloribus amet enim quia veritatis!
                            Veniam inventore quam pariatur omnis quae molestiae 
                            sed officiis amet optio, vero eius perspiciatis nostrum, 
                            velit facilis. Animi quia dolores libero harum culpa dolor 
                            ratione cumque nulla doloribus numquam.
                        </p>
                    </div>
                    <div class="chef-pan">
                            <img src="./img/personal-pan.jpg" alt="">
                        </div>
                </div>
            </div>
        </section>
    </div>
    <script src="js/index.js"></script>
</body>
</html>