/**
 *fuentes cursivas
*/

@import url('https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script|Merienda|Raleway|Comfortaa|Maven+Pro');

$fuente1: 'Courgette', cursive;
$fuente2: 'Kaushan Script', cursive;
$fuente3: 'Merienda', cursive;
$fuente4: 'Raleway', sans-serif;
$fuente5: 'Comfortaa', cursive;
$fuente6: 'Maven Pro', sans-serif;



