@import 'fuentes','reset','header','nav','global','footer';


.pastel{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 'lema''img';
    // background-color: #ccc;

    .lema{ 
        grid-area: lema;
        display: flex;
        justify-content: center;
        padding: 1em;
        flex-direction: column;

        & *{
            text-align: center;
            padding: 1em;
        }

        
        .title{
            font-size: 2.5em;
            font-family: $fuente3;
        }

        .lemaDes,.opinionChef{
            font-size: 17px;
            font-family: $fuente2;
            color: #BDA38F;
        }

        .opinionChef{ font-size: 20px }
        .descripcion{
            font-size: 14px;
            font-family: $fuente4;
        }

        .descChef{
            padding-top: 1em;
            font-family: $fuente3;
        }

        .Chef{
            display: flex;
            justify-content: center;
            align-items: center;

            &::before,&::after{
                content: "Andrea";
                text-align: center;
                margin: .5em;
                padding: .5em;
                border-top: solid 2px #BDA38F;
                border-bottom: solid 2px #BDA38F;
                font-family: $fuente3;
                font-size: .9em;
            }
            &::after{ content: 'Ramillote' }
        }
        .imgChef{
            display: block;
            width: 100px;
            height: 100px;
            border: solid 1px #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 2px  #BDA38F;
        }
    }

    .img{ 
        grid-area: img;
        background-image: url('../img/chef2.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;

    }
}

.estadistica{
    text-align: center;
    padding: 2em;
    font-family: $fuente1;
    font-size: 1em;

    h2{ padding: 3em 1em 1em 1em  }
    hr{ background-color: #000 }
    p { 
        padding: 2em 0;
        font-family: $fuente6;
        font-size: 13px;
        color: #555;
    }
}

.Feature{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1em;
    grid-template-areas: 'clock' 'bolt' 'cloud';
    text-align: center;
    font-family: $fuente6;
    font-size: 13px;
    color: #444;
    padding: 2em;

    p{ padding: 1em }

   
    .iconFeature{
        display: inline-block;
		position: relative;
		padding-bottom: 5em;
		margin-bottom: 2.75em;
        

		.iconF {
			width: 2em;
			height: 2em;
            font-size: 5em;
            border: solid 1px rgba(150, 95, 44, 0.288);
			border-radius: 50%;
			color: rgb(153, 101, 53);
            line-height: 2em;
            background-color: rgba(150, 95, 44, 0.288);
		}

		&:before {
			content: '';
			background: rgb(153, 101, 53);
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -0.325em;
			width: 0.65em;
			height: 0.65em;
			display: block;
			border-radius: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0.65em;
			width: 1px;
			height: 4.35em;
			background: rgb(153, 101, 53);
			margin-left: -0.5px;
		}
    }
}


.seccion3{
    margin: 5em 0;
    background-image: url('../img/postres/postre1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    
    .postres{
        display: none;
        width: 80%;
        height: 600px;
        background-color: #eee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 'card' 'info' 'info';

        .card{
            grid-area: card;
            .img{
                display: block;
                width: 100%;
                height: 200px;
            }
        }

        .info{
            grid-area: info;
            font-family: $fuente4;
            font-size: 13px;
            color: #555;
            text-align: justify;
            

            h3{
                font-size: 2em;
                font-family: $fuente2;
                padding: .5em 1em;
            }

            .descripcion,.text{ padding: 1em }
            .descripcion{ 
                color: #B17033;
                font-family: $fuente3;
            }
            .slider{
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 98%;
                display: flex;
                justify-content: space-around;

                i{
                    color: #B17033;
                }
                margin-bottom: 1em;
            }
        }
    }
}


.seccion4{
    text-align: center;
    font-family: $fuente6;
    font-size: 13px;
    padding: 2em;
    

    h3{ 
        font-size: 1.5em;
        font-family: $fuente2;
        padding-bottom: 1em;
    }
    hr{
        background-color: #000
    }

    p{
        padding: 2em 1em;
        color: #555;
    }

}


.seccion5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
    z-index: 1000;


    .seccion-container{
        
        border: solid 1px #eee;
        border-radius: 5px;
        width: 300px;
        font-size: 13px;
        text-align: justify;
        font-family: $fuente4;
        color: #555;
        margin: 1em;
        box-shadow: 0 5px 10px 1px #aaa;
        position: relative;

        .card{
            overflow: hidden;
            position: relative;
            height: 170px;

            &::after{
                content: "";
                background-color: rgba(0, 0, 0, 0.384);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                transform: translate(-50%,50%) scale(0.009);
                transition: transform .2s ease-in-out;
            }

            img{
                display: block;
                width: 100%;
                transform: scale(1) rotate(0deg);
                transition: transform .2s ease-in-out; 
            }
        }

        &:hover{
            .card{
                img{ transform: scale(1.2) rotate(10deg) }
                &::after{transform: translate(-50%,50%) scale(10)}
            }
        }
        
        
    
        .descripcion{
            font-size: 1.5em;
        }

        .text{ margin-bottom: 4em}

        .container{
            
            padding: 1em;
            h3{ 
                font-family: $fuente5;
                font-size: 1.3em;
                padding-bottom: 1em;
            }
            hr{
                background-color: #555;
                width: 100%;
            }
            p{
                padding: 1em 0;
            }
        }
    
    }

    .enlace{
        position: absolute;
        bottom: 0;
        
        a{
            display: flex;
            align-items: center;
            color: #555;
            width: 200px;
        }
        .right{
            width: 1em;
            height: 1em;
            border: solid 2px #555;
            border-radius: 50%;
            padding: 1em;
            position: relative;
            margin: 1em;
            transform: scale(.7);
            transition: .5s ease-in-out;

           
            
            &::after{
                content: "";
                border: solid 1px #555;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg) ;
            }
        }


        &:hover{
            .right{
                transform: scale(1);
                background-color: rgba(0, 0, 0, 0.103);
            }
        }
    }
    
    
}




@media screen and (min-width: 32em){
    .seccion3{
        .postres{
            .card{
                .img{
                    width: 100%;
                    height: 300px;
                }
            }
            .info{
                height: 80%;
            }
        }
    }
}

@media screen and (min-width: 64em){
    
    .pastel{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'lema img';
    }

    .Feature{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100%;
        grid-template-areas: 'clock bolt cloud';
    }

    .seccion3{
        .postres{
            height: 450px;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 100%;
            grid-template-areas: 'card card card info info';

            .card{
                .img{
                    width: 100%;
                    height: 100%;
                }

                h3{ font-size: 3em }
            }
            .info{
               .slider{ 
                   width: 40%;
                }
            }
        }
    }
}